      @import 'typography.css';
    @import 'variables.css';
    @import 'my_slider.css';
    html {
        overflow-x: hidden;
    }

    body {
        overflow-x: hidden;
    }
   

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    a {
        text-decoration: none;
        font-size: 1.6rem;
    }
    
    li {
        list-style-type: none;
    }
    strong {
        color: var(--gray-1);
    }
    /* ************************
    /* *** REUSABLE COMPONENTS
    /* ************************ */
    
    .container {
        max-width: 130rem;
        margin: 0 auto;
    }
    
    .cols-2,
    .cols-3,
    .cols-4 {
        display: grid;
    }
    
    .cols-2 {
        grid-template-columns: 1fr 1fr;
    }
    
    .cols-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .cols-4 {
        grid-template-columns: repeat(4, 1fr);
    }
    
    .btn:link,
    .btn:visited {
        padding: .5rem 1rem;
        text-transform: uppercase;
    }
    label {
        font-size: 1.6rem;
    }
    
    .btn-slider {
        transition: all .4s;
    }
    
    .btn-slider:link,
    .btn-slider:visited {
        color: white;
        background-color: transparent;
        font-size: 1.6rem;
        border: 1px solid white;
        padding: 1.3rem 2rem .9rem 2rem;
    }
    .btn-primary {
            color: white;
            font-size: 1.4rem;
            padding: .7rem 4rem .4rem 4rem;
            border: none;
            cursor: pointer;
            display: inline-block;
            text-transform: uppercase;
            background-color: var(--primary-tint-1);
            font-family: "Gill Sans", sans-serif;
        }
    
    
    .btn-slider:hover {
        border-width: 4px;
        padding: 1.6rem 2.3 1.2rem 2.3rem;
        letter-spacing: 2px;
    }
    .highlight {
        background-color: var(--gray-5);
        padding: .8rem 2rem .3rem 2rem;
       
    }
    .header {
        position: absolute;
        z-index: 20;
        top: 0;
        left: 0; 
        color: white;
        display: flex;
        right: 0;
        padding: 1rem 0;
        align-items: center;
        justify-content: space-between;
    }
    .header-static {
        display: grid;
        margin: 0 auto;
        padding: 1rem 0;
        position: relative;
        justify-content: center;
        align-items:center;
        row-gap: 4rem;
        grid-template-columns: repeat(12, 1fr);
        background: linear-gradient( rgba(0,0,0,.4) , rgba(0,0,0,.6)), url('../images/the-anam-_twiIcIsp2s-unsplash.jpg') ;
    }
    .header-static--top {
        grid-column: 1/-1;
        grid-row: 1/2;
        display: flex;
        align-items:center;
        flex-direction: row;
        justify-content: space-between;

    }
    .header-static--heading {
        grid-column: 1/-1;
        justify-self: center;
        text-align: center;
        grid-row: 2/3;
    }
    .logo-top {
        grid-column: 1/2;
        margin-left: 4rem;
    }
    
    .main-nav__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4rem;
    }
    
    .main-nav__link {
        list-style-type: none;
        display: inline-block;
        transition: all .4s;
    }
    .main-nav__link:not(:last-child):hover {
       box-shadow: 0px 0px 0px 1px #FFF;
    }
    .main-nav__link:last-child:hover {
        background-color: var(--primary-tint-2);
     }
    
    .main-nav__link a, .hotel--heading__action-link {
        color: white;
        font-size: 1.4rem;
        padding: 1.3rem 2rem 1rem 2rem;
        display: inline-block;
        text-transform: uppercase;
    }
    
    .main-nav__link:last-child {
        background-color: var(--primary-tint-1);
        margin-left: auto;
        margin-right: 15rem;
    }
    .hotel--heading__action-link {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .booking-mini {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 8rem;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        z-index: 20;
        background: rgba(0, 0, 0, 0.4);
    }
    .space-bottom-1 {
            display: block;
            margin-bottom: 2rem;
    }
    .star-full, .star-dummy {
        color: var(--across-color);
    }
    /* Always display the drop down caret */
    
    input[type="date"]::-webkit-calendar-picker-indicator {
        color: white;
    }
    /* A few custom styles for date inputs */
    
    input[type="number"] {
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;
    }
    
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
    /* **********
        /* Removes the clear button from date inputs */
    
    input[type="date"]::-webkit-clear-button {
        display: none;
    }
    /* Removes the spin button */
    
    input[type="date"]::-webkit-inner-spin-button {
        display: none;
    }
    
    input[type="date"] {
        appearance: none;
        -webkit-appearance: none;
        display: inline-block !important;
        font-family: "Gill Sans", sans-serif;
        color: white;
        visibility: visible !important;
    }
    
    input[type="date"],
    focus {
        color: var(--gray-1);
        box-shadow: none;
        padding-left: .5rem;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }
   select {
        width: 15rem;
        border: 1px solid var(--gray-4);
        background-color: white;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        background-repeat: no-repeat;
        background-position: 100% 0px;
    }
    .booking-mini__form {
        display: flex;
        gap: 4rem;
        align-items: center;
        flex-direction: row;
    }
    
    .booking-mini__select {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        width: 15rem;
        border-top: none;
        -webkit-border-radius: 0px !important;
    }
    
    .booking-mini__date,
    .booking-mini__select,
    .booking-mini__number {
        height: 2rem;
        border: none;
        font-family: "Gill Sans", sans-serif;
        font-size: 1.6rem;
        background: transparent;
        border-bottom: 1px solid white;
        color: white;
    }
    
    option {
        background-color: white;
        color: black;
    }
    
    .booking-mini__submit {
        background-color: var(--primary-tint-1);
        padding: 1.3rem 2rem 1rem 2rem;
        color: white;
        border: none;
        font-family: 'Gill Sans', sans-serif;
        cursor: pointer;
        font-size: 1.4rem;
        text-transform: uppercase;
    }
    
    .booking-mini__number {
        width: 8rem;
    }
    
    .booking-mini__form>input:focus,
    .booking-mini__form>select:focus {
        border-bottom: solid 2px var(--primary-tint-1);
        outline: none;
    }
    
    .booking-mini__form input::placeholder {
        color: white;
        opacity: 1;
        font-family: 'Gill Sans', sans-serif;
        font-size: 1.6rem;
    }
    
     ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: white;
    }
    
    .section-welcome,
    .section-deals,
    .section-facilities,
    .section-testimonials,
    .section-booking {
        margin: 0 auto;
        text-align: center;
        margin-top: 8rem;
        padding: 0 2rem;
        margin-bottom: 4rem;
    }
    
    h3.heading {
        display: block;
        margin-bottom: 6rem;
    }
    
    img.ornament {
        max-width: 50rem;
        width: 100%;
    }
    
    .welcome-cols {
        gap: 4rem;
        align-items: center;
    }
    
    .welcome-cols div:first-child {
        grid-column: 1/2;
        justify-self: end;
        text-align: left;
        width: 80%;
        padding-top: 4rem;
    }
    
    .welcome-cols div:last-child {
        grid-column: 2/3;
    }
    
    .welcome-cols:last-child img {
        width: 40rem;
        height: auto;
        box-shadow: 0 4px 16px var(--gray-3);
    }
    
    .deal-cols {
        max-width: 1300px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .deal {
        max-width: 22%;
        box-shadow: 0 4px 16px var(--gray-4);
        text-align: left;
        transition: all .4s;
    }
    
    .deal:hover {
        transform: translateY(-1rem);
    }
    
    .deal__image {
        width: 100%;
    }
    
    .deal-details {
        padding: 2rem 1rem 1rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 2rem;
        height: 18rem;
    }
    
    p.bolder-left {
        font-size: 2rem;
        color: var(--gray-1);
        font-family: "Gill Sans Medium", sans-serif;
        text-align: left;
    }
    
    p.deal-details--subtext {
        display: block;
        padding-top: .5rem;
        font-size: 1.4rem;
        color: var(--gray-3);
    }
    
    p.deal-expiring {
        font-size: 1.4rem;
        display: block;
        padding-top: .5rem;
        color: var(--across-color);
    }
    
    a.deal__link {
        color: var(--gray-5);
        text-transform: uppercase;
        width: 100%;
        background-color: var(--primary-tint-0);
        text-align: center;
        padding: 1.3rem 0 1rem 0;
        display: block;
        font-size: 1.2rem;
        font-family: "Gill Sans Medium";
        margin-top: auto;
        transition: all .4s;
    }
    a.deal__link:hover {
        background-color: var(--primary-tint-1);
    }
    
    .facilities {
        justify-items: center;
        margin-bottom: 6rem;
    }
    
    .facilities__item {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .facilities__item p {
        display: block;
        padding: .8rem 0 0 1rem;
        font-size: 1.4rem;
    }
    
    .facilities__item img {
        width: 5rem;
        height: auto;
    }
    
    .section-featured-hotels {
        background-image: linear-gradient(134deg, #154961 0%, #092232 100%);
    }
    
    .featured-hotels--heading {
        grid-column: 1 / -1;
        text-align: center;
        grid-row: 1 / 2;
    }
    
    .featured-hotel__item {
        color: white;
    }
    
    .bolder-light {
        font-size: 2rem;
        display: block;
        padding: 1rem 0 .3rem 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        margin-bottom: 2rem;
    }
    
    .featured-hotels {
        column-gap: 4rem;
        padding: 1rem 2rem 4rem 2rem;
    }
    
    .featured-hotel__item img {
        width: 100%;
        height: auto;
    }
    
    .featured-hotel__item--details {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 1rem;
    }
    
    .featured-hotel__item--details span {
        font-size: 1.4rem;
    }
    
    .featured-hotel__item--details div:last-child {
        margin-left: auto;
    }
    
    .featured-hotel__item--details img {
        width: 1.2rem;
        position: relative;
        height: auto;
    }
    
    .featured-hotel__item--details div img {
        top: 1px;
    }
    
    .testimonial-cols {
        gap: 10rem;
    }
    
    .testimonial__item {
        text-align: center;
    }
    
    .testimonial__item div img {
        width: 10rem;
        box-shadow: 0 4px 16px var(--gray-3);
        margin-bottom: 2rem;
        transition: all .4s;
    }
    
    .testimonial__item div img:hover {
        transform: scale(1.1) rotate(2deg);
    }
    
    .testimonial__image--wrapper {
        width: 20rem;
        margin: 0 auto;
        border-bottom: 3px solid var(--primary-tint-0);
        margin-bottom: 2rem;
    }
    
    .testimonial__item--signature {
        text-align: right;
        padding: 2rem 2rem;
        font-family: "Gill Sans Italic"
    }
    
    .footer {
        background-color: var(--primary-tint-4);
    }
    
    .footer--cols {
        padding: 2rem;
        gap: 4rem;
    }
    
    .footer-logo {
        width: 10rem;
        position: relative;
        top: -6px;
    }
    
    .footer--column {
        display: flex;
        flex-direction: column;
    }
    
    .footer--column:not(:first-child) {
        row-gap: 3rem;
    }
    
    .footer--column:first-child {
        row-gap: 2rem;
    }
    
    .footer-socials+p {
        font-size: 1.4rem;
    }
    
    .footer--column p,
    .footer--column span,
    .footer--column a {
        color: var(--shadow-color-1);
    }
    
    .footer--column span {
        font-size: 1.6rem;
        line-height: 1.6rem;
        display: block;
    }
    
    .footer--column a:hover {
        color: var(--primary-tint-0);
    }
    
    .footer-copyright {
        margin-top: auto;
    }
    
    .footer__list {
        display: flex;
        flex-direction: column;
        gap: 1.7rem;
        padding-top: .4rem;
    }
    
    .footer-socials {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
    
    .footer-socials a img {
        width: 2.4rem;
        height: auto;
    }

    .btn-mobile-nav {
        border: none;
        background: none;
        cursor: pointer;
        display: none;
        z-index: 100;
        margin-right: 1rem;
    }
    .icon-mobile-nav {
        display: block;
        margin: 0 auto;
    }
    .open-mobile-nav {
        height: 2.8rem;
        width: 2.8rem;
    }
    .close-mobile-nav {
        height: 2.2rem;
        width: 2.2rem;
        display: none;
    }
    /* **************************
    /* BOOKING PAGE
    /* ************************** 
    */

.section-booking {
    display: grid;
    grid-template-columns: 25rem 1fr;
    text-align: left;
    color: var(--gray-2);
    gap: 8rem;
}
.booking-filters, .booking-aside {
    grid-column: 1/2;
}
.booking-filters--wrapper {
    border: 1px solid var(--gray-5);
    padding-top: 1rem;
}
.hotel, .hotels {
    grid-column: 2/-1;
}
.hotels--cards {
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
}
.hotels-sorting {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;

}
.booking-filters h6, .booking-aside h6 {
    display: block;
    padding-left: 1rem;
    color: var(--gray-1);
    padding-bottom: 2rem;
}
.filters-form--wrapper, .booking-side-form--wrapper {
    padding-left: 1rem;
}

.booking {
    grid-column: 1/-1;
}

.booking-filters label, .booking-aside label {
    display: block;
    font-size: 1.6rem;
    padding: 1rem 0 1rem 0rem;
}
.booking-filters label input, .booking-aside label input {
    margin-right: 1rem;
}
.checkboxes-set {
    margin-top: 2rem;
}


.hotels-sorting select, .booking-filters__select {
    width: 15rem;
    border: 1px solid var(--gray-4);
    background-color: white;
    padding: .5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position: 100% 0px;
}
.booking-filters__submit {
width:100%;
background-color: var(--primary-tint-2);
color: white;
padding: 1rem 1.5rem;
margin: 4rem 0rem 0rem 0rem;
border: none;
}

.booking-side-form--wrapper input[type="date"]
 {
    border: 1px solid var(--gray-4);
    padding: 1rem 0 .5rem .5rem;
}
.booking-filter--persons__wrapper {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.booking-filter--persons__wrapper select {
    border: 1px solid var(--gray-4);
    appearance: none;
    -webkit-appearance: none;
    padding: .5rem .5rem;
    width: 4rem;
    background-color: white;
    background: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position: 100% 0px;
}
.booking-side-form--wrapper input[type="date"] {
    width: 15rem;

}
.booking-side-form--wrapper input[type="number"] {
    width: 5rem;
}
.cta-filters {
    display: none;
}
.hotels--card {
    max-width: 28%;
    border: 1px solid #eee;
    text-align: left;
    transition: all .4s;
}
.hotels--card:hover {
    box-shadow: 0 2px 16px #ddd;
}
.hotels--card-details {
    padding: 1rem;
    font-size: 1.4rem;
}
.hotels--card-details__location {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    position: relative;
    gap: .5rem;
    padding-bottom: .5rem;
}
.hotels--card-details__location img, .hotels--card-details__pricing img {
    position: relative;
}
.hotels--card-details__location img {
    top: -3px;
}
.hotels--card-details__pricing img {
    top: 2px;
    left: -4px;
}
.hotels--card__link {
    width: 100%;
    display: block;
    padding: 1rem 0;
    margin-top: 2rem;
    background-color: var(--primary-tint-0);
    color: white;
    font-size: 1.6rem;
    text-align: center;
}

/* **************************
/* SINGLE HOTEL DETAILS
/* ************************** 
*/

.hotel {
    display: grid;
    row-gap: 2rem;
    grid-template-columns: repeat(12, 1fr);
}
.hotel--heading {
    display: flex;
    grid-column: 1/-1;
    flex-direction: row;
    justify-content: space-between;
}
.hotel--heading__location {
    display: block;
    padding-top: .5rem;
}
.hotel--heading__location img {
    position: relative;
    top: 2px;
}
.hotel--heading__action-link:link,
.hotel--heading__action-link:visited {
    background-color: var(--primary-tint-1);
}

.hotel-gallery {
    display: grid;
    grid-column: 1/-1;
   grid-template-columns: repeat(6, 1fr);
    gap: .5rem;
   
}
.gal-img-medium-1 {
    grid-column: 1/3;
    width:100%;
    grid-row: 1/2;
}
.gal-img-medium-2 {
    width:100%;
    grid-column: 1/3;
    grid-row: 2/3;
}

.gal-img-large {
    width:100%;
    grid-column: 3/7;
    grid-row: 1/3;
}
.gal-img-small__wrapper {
    width:100%;
    grid-column: 1/7;
    grid-row: 3/4;
    display: flex;
    flex-direction: row;
    gap: .5rem;
}
.gal-img-small {
    width:100%;
}
.hotel--others {
    grid-column: 1/-1;
    display: flex;
    gap: 1rem;
    flex-direction: row;
}
.hotel--others .btn-primary {
    margin-left: auto;
}
.hotel--room {
    grid-column: 1/-1;
}
.hotel--room__name {
    font-size: 1.6rem;
    color: var(--gray-1);
    text-transform: uppercase;
    padding: 2rem 0 1.5rem 0;
    font-family: "Gill Sans Medium", sans-serif;
}
.hotel--room__services {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1rem 0 1rem 1rem;
    gap: 10rem;
    background-color: #F8F8F8;
}
.hotel--room .hotel--room__services:first-child  {
    background-color: black;
}
.services--service {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-bottom: 1rem;
    align-items: center;
}
.services--service p {
    color: var(--gray-1);
}
.services--column {
    padding: .6rem 0;
}
.booking-form select, .booking-form__calendar-wrapper div label  {
    display: block;
}
.booking {
    margin-top:2rem;
    border-top: 1px solid var(--gray-5);
    padding-top: 1rem;
}

.booking-form select {
    padding: .5rem;
}
.booking-form__calendar-wrapper div select {
    
    width: 6rem;
}

.booking-form__calendar-wrapper {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    font-size: 1.6rem;
    gap: 8rem;
}
.booking-form__calendar-wrapper div label {
    margin-top: 2rem;
    padding-bottom: 1rem; 
}
.booking-form__calendar-wrapper div input {
    border: 1px solid var(--gray-5);
    width: 15rem;
    padding: .7rem 0 .5rem .5rem;
}
.booking-form button {
    padding: 1.2rem 3rem 1rem 3rem; 
}
/* **************************
/* RESPONSIVE MEDIA
/* ************************** 
*/

    /* 100 em = 1600px */

    @media (max-width: 100em) {
        .hotels {
            gap: 4rem;
        }
        .hotels--card {
            max-width: 25%;
    }
    }
    /* 69em * 16 = 1104 px */

    @media (max-width: 69em) {
        .hotels--card {
            max-width: 40%;
        }
        .main-nav__link:last-child {
            margin-right: 5rem;
        }
        h2.slide-text__head {
            font-size: 4rem;
         padding: 0rem 0 5rem 0;
        }
        h4 {
            font-size: 2rem;
        }
        .btn-slider:link,
        .btn-slider:visited {
            font-size: 1.4rem;
        }
        .testimonial__item p {
            font-size: 1.4rem;
        }
    }
    /* 1000px */
    @media (max-width: 62.5em) {
        .main-nav__link:last-child {
            margin-right: 1rem;
        }
        .main-nav__list {
            gap: 1rem;
        }
        .booking-mini__date,
        .booking-mini__select,
        .booking-mini__number,
        .booking-mini__date::-moz-placeholder,
        .booking-mini__number::placeholder {
            font-size: 1.2rem;
        }
        .deal {
            max-width: 40%;
            box-shadow: none;
            border: 1px solid #eee;
        }
        .deal-cols {
            row-gap: 4rem;
            column-gap: 4rem;
            justify-content: center;
        }
        .booking-mini {
            display: none;
        }
        .welcome-cols div:first-child {
            width: 95%;
        }
        .welcome-cols:last-child img {
            width: 32rem;
        }
        .welcome-cols div:first-child {
            padding-top: 1rem;
        }
        .main-nav__link a {
            font-size: 1.2rem;
        }
        .hotel--room__services {
            gap: 4rem;
        }
        .section-booking {
            gap: 4rem;
        }
    }
    @media (max-width: 56em) {
       .booking-aside,  .booking-filters {
            display: none;
        }
        .hotel, .hotels {
            grid-column: 1/-1;
        }
        .cta-filters {
            display: block;
        }
        .section-booking {
            margin-top: 4rem;
        }
        .highlight {
            background-color: var(--gray-5);
            padding: .8rem 1rem .3rem 1rem;
        }
        .highlight {
            padding: .8rem 1rem .3rem 1rem;
        }
        .hotels--cards {
            justify-content: flex-start;
        }
        .hotels--card {
            max-width: 45%;
        }
        .hotel--room__services {
            flex-direction: column;
            gap: 0;
        }
        .services--column {
            padding:0;
        }
        .featured-hotel__item--details img {
            width: 1.0rem;
        }

        .cols-3 {
            grid-template-columns: 1fr 1fr;
        }
        .featured-hotel__item:last-child {
            display: none;
      }
        .footer__list li a,
        .footer--column  p {
            font-size: 1.2rem;
        }

        /* MOBILE NAVIGATION */
        .btn-mobile-nav {
            display: block;
        }
        .main-nav {
            position: absolute;
            z-index: 100;
            left: 0;
            top: 0;
            height: 100vh;
            width: 100%;
            transform: translateX(100%);

            /* Hide all */
            opacity: 0;
            /* We need to hide mouse and keyboard */
            pointer-events: none;
            /* Hide from screen readers */
            visibility: hidden;

            background: var(--primary-color);
            transition: all .5s ease-in;
        }
        .nav-open .main-nav {
            opacity: 1;
            pointer-events: auto;
            visibility: visible;
            transform: translateX(0);
        }
        .nav-open .close-mobile-nav {
            display: block;
        }
        .nav-open .open-mobile-nav {
            display: none;
        }
        .main-nav__link:last-child {
            background-color: var(--primary-tint-1);
            margin-left: 0;
            margin-right: 0;
    }
    .main-nav__list {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin: 10rem auto 0 auto;
    }
    .main-nav__link a {
        font-size: 1.8rem;
    }
    }
    /** 48em = 768 px when 16px */
    @media (max-width: 48em) {
       
        h3.heading {
            margin-bottom: 4rem;
        }
        .cols-2 {
            grid-template-columns: 1fr;
        }
        .cols-4 {
            grid-template-columns: 1fr 1fr;
        }
        .testimonial-cols {
            width: 80%;
            gap:2rem;
        }
        .welcome-cols div:first-child {
            grid-column: 1/2;
            grid-row: 2/3;
            text-align: center;
        }
        .welcome-cols div:last-child {
            grid-column: 1/2;
            grid-row: 1/2;
        }
        .deal {
            max-width: 45%;
        }
        .facilities {
            justify-items: center;
    }
    .facilities-column {
        width: 20rem;
    }
    .footer--column:first-child {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .footer--column:nth-child(2) {
        grid-column:2/3;
        grid-row: 1/2;
    }
    .footer--column:nth-child(3) {
        grid-column:1/2;
        grid-row: 2/3;
    }
    .footer--column:last-child {
        grid-column:2/3;
        grid-row: 2/3;
    }
    
}


    @media (max-width: 38em) {
      
        .hotel--others {
            flex-direction: column;
        }
        .hotel--others .btn-primary {
            margin-left: 0;
            padding-top: 1rem;
            padding-bottom: .7rem; 
        }
        .gal-img-small__wrapper {
            display: none;
        }
        .deal {
            max-width: 70%;
        }
        .featured-hotel__item--details {
            flex-direction: column;
            align-items: start;
        }
        .featured-hotel__item--details div:last-child {
            margin: 1rem 0 0 0;
        }
        .hotels--cards {
            gap: 2rem;
           
        }
    }
   
    /* 25em = 400px when 16px */
    @media (max-width: 25em) {
        .hotels--cards {
            justify-content: center;
        }
        .deal {
            max-width: 90%;
        }
        .cols-3,
        .cols-4 {
            grid-template-columns: 1fr;
    }
    .hotels--card {
        max-width: 90%;
    }
    .footer--column:first-child {
        grid-column: 1/-1;
        grid-row: 1/2;
    }
    .footer--column:nth-child(2) {
        grid-column: 1/-1;
        grid-row: 2/3;
    }
    .footer--column:nth-child(3) {
        grid-column: 1/-1;
        grid-row: 3/4;
    }
    .footer--column:last-child {
        grid-column: 1/-1;
        grid-row: 4/5;
    }
    .featured-hotels {
       
        justify-items: center;
    }
    .featured-hotels {
        padding: 1rem 2rem 0rem 2rem;
    }
    .featured-hotel__item {
        max-width: 95%;
    }
    .bolder-light {
        margin-bottom: 1rem;
    }
    .featured-hotel__item--details {
        margin-bottom: 3rem;
    }
    .testimonial-cols {
        width: 100%;
    }
    .welcome-cols:last-child img {
        width: 100%;
    }
    .welcome-cols div:first-child {
        width: 100%;
    }
    h2.slide-text__head {
        font-size: 3rem;
        padding: 0rem 0 4rem 0;
    }
    h2.header-static__head {
        font-size: 4rem;
    }
    .btn-slider:link, .btn-slider:visited {
        font-size: 1rem;
    }
    .facilities {
        justify-items: start;
    }
    .featured-hotel__item--details {
        flex-direction: row;
        align-items: center;
    }
    .featured-hotel__item--details div:last-child {
        margin-top: 0;
        margin-left: auto;
    }
    .hotels-sorting {
        justify-content: center;
    }
    }
    